@use "../helpers" as *;

.benefits {
  position: relative;
  padding-block: 120px;

  &::after {
    content: "II";
    position: absolute;
    top: 0;
    left: calc(50% + $container-width / 2);
    translate: -50% -5%;
    font-family: $font-family-accent;
    font-size: 400px;
    opacity: 0.02;

    @media screen and (max-width: 1400px) {
      font-size: 200px;
    }
    
    @media screen and (max-width: 1200px) {
      translate: -90% -5%;
    }
    
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 70px;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 53px;
    text-align: center;

    @include tablet {
      row-gap: 20px;
    }

    &-description {
      font-family: $font-family-additional;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.35;
    }
  }
}
