@use "../helpers" as *;

.feedback {
  padding-bottom: 180px;

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
  }

  &__privacy {
    @include mobile {
      grid-area: privacy;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 30px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "input" "input" "privacy" "button";
    }

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas: "input" "input" "button" "privacy";
    }
  }
}