@use "../helpers" as *;

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
  url("../assets/images/background-top.jpg");

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

    &.is-active {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      row-gap: 50px;
      width: 100%;
      height: 100%;
      background-color: $color-dark;
      z-index: 300;

      .header__menu {
        @include tablet {
          display: block;
        }
      }

      .header__burger {
        position: fixed;
        top: 40px;
        right: 15px;
        z-index: 300;
      }
    }
  }

  &__menu {
    @include tablet {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 40px;

      @include tablet {
        flex-direction: column;
        row-gap: 30px;
        font-size: 30px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 80px;
  }

  &__title {
    max-width: 556px;
    font-family: $font-family-accent;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: $color-accent;

    @include tablet {
      font-size: 32px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    padding-bottom: 74px;

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__link-info {
    position: relative;
    padding-left: 35px;
    font-size: 18px;

    @include tablet {
      padding-left: 26px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--map {
      &::before {
        background-image: url("../assets/icons/map.svg");
      }
    }

    &--tel {
      &::before {
        background-image: url("../assets/icons/phone-call.svg");
      }
    }
  }
}