//Fonts
$font-family-base: "Raleway", sans-serif;
$font-family-accent: "Playfair", serif;
$font-family-additional: "Roboto", sans-serif;

//Colors
$color-accent: #d4c17f;
$color-dark: #242b33;
$color-white: #fff;
$color-footer-bg: #2d343c;
$color-placeholder: #bebebe;

//Transition
$transition-duration: 0.2s;

//Container
$container-width: 1110px;
$container-min-width: 810px;
$container-padding-x: 15px;