//Fonts
$font-family-base: "Raleway", sans-serif;
$font-family-accent: "Playfair", serif;
$font-family-additional: "Roboto", sans-serif;

//Colors
$color-accent: #d4c17f;
$color-dark: #242b33;
$color-white: #fff;
$color-footer-bg: #2d343c;

//Transition
$transition-duration: 0.2s;