@use "../helpers" as *;

.socials {
  display: flex;
  align-items: center;
  column-gap: 22px;

  @include mobile {
    justify-content: center;
  }

  &__link {
    @include hover {
      svg {
        color: $color-accent;
      }
    }

    & svg {
      width: 44px;
    }
  }
}