@use "../helpers" as *;

body {
  font-family: $font-family-base;
  font-size: 16px;
  color: $color-white;
  background-color: $color-dark;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: $color-accent;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

a {
  @extend %active;

  display: inline-block;
  color: inherit;
  transition-duration: $transition-duration;

  @include hover {
    color: $color-accent;
  }
}

.container {
  max-width: calc($container-width + $container-padding-x * 2);
  padding-inline: $container-padding-x;
  margin-inline: auto;

  &--min {
    max-width: calc($container-min-width + $container-padding-x * 2);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy {
  text-align: center;
  padding-top: 11px;
  font-size: 13px;
  line-height: 1.23;
  color: #e7e7e7;
}

:focus-visible {
  outline: 2px dashed $color-white;
  outline-offset: 5px;
  transition-duration: 0s !important;
}