@font-face {
  font-family: "Playfair";
  src: url("../../assets/fonts/PlayfairDisplay-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

a:active {
  scale: 0.9;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #242b33;
  overflow-x: hidden;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #d4c17f;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

svg * {
  fill: currentColor;
  stroke: currentColor;
  transition-duration: 0.2s;
}

a {
  display: inline-block;
  color: inherit;
  transition-duration: 0.2s;
}
@media (hover: hover) {
  a:hover {
    color: #d4c17f;
  }
}

.container {
  max-width: 1140px;
  padding-inline: 15px;
  margin-inline: auto;
}
.container--min {
  max-width: 840px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy {
  text-align: center;
  padding-top: 11px;
  font-size: 13px;
  line-height: 1.23;
  color: #e7e7e7;
}

:focus-visible {
  outline: 2px dashed #fff;
  outline-offset: 5px;
  transition-duration: 0s !important;
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
  z-index: 100;
}
.card::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition-duration: 0.2s;
  z-index: 100;
}
@media (hover: hover) {
  .card:hover::after {
    opacity: 1;
  }
  .card:hover .card__image {
    scale: 1.1;
    filter: contrast(110%) brightness(1.2) saturate(1.2);
  }
}
.card__image {
  transition-duration: 0.2s;
}
.card__title {
  position: absolute;
  left: 50px;
  bottom: 44px;
  right: 20px;
  z-index: 100;
}

.input {
  height: 50px;
  padding: 12px;
  font-size: 14px;
  line-height: 1.93;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.2s;
}
.input::placeholder {
  color: #bebebe;
}
.input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.button {
  height: 50px;
  padding: 12px;
  font-weight: 700;
  line-height: 1.69;
  text-align: center;
  background-color: #d4c17f;
  transition-duration: 0.2s;
}
@media (hover: hover) {
  .button:hover {
    background-color: rgb(229.1, 202.4552941176, 109.9);
  }
}
.button:active {
  scale: 0.95;
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
@media (hover: hover) {
  .socials__link:hover svg {
    color: #d4c17f;
  }
}

.burger-button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 44px;
  height: 44px;
  transition: row-gap 0.2s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}
@media screen and (max-width: 1024px) {
  .burger-button {
    display: flex;
  }
}
.burger-button__line {
  width: 70%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s cubic-bezier(0.34, 1.2, 0.64, 1), opacity 0.2s ease, width 0.2s ease;
}
.burger-button.is-active {
  row-gap: 0;
}
.burger-button.is-active .burger-button__line:first-child {
  transform: translateY(2px) rotate(45deg);
  transition-delay: 0.05s;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0.8);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.burger-button.is-active .burger-button__line:last-child {
  transform: translateY(-2px) rotate(-45deg);
  transition-delay: 0.05s;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("../assets/images/background-top.jpg");
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
@media screen and (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
}
.header__title {
  max-width: 556px;
  font-family: "Playfair", serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #d4c17f;
}
@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 32px;
  }
}
.header__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  padding-bottom: 74px;
}
@media screen and (max-width: 1024px) {
  .header__footer {
    flex-direction: column;
    row-gap: 30px;
  }
}
.header__link-info {
  position: relative;
  padding-left: 35px;
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .header__link-info {
    padding-left: 26px;
  }
}
.header__link-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.header__link-info--map::before {
  background-image: url("../assets/icons/map.svg");
}
.header__link-info--tel::before {
  background-image: url("../assets/icons/phone-call.svg");
}

.benefits {
  position: relative;
  padding-block: 120px;
}
.benefits::after {
  content: "II";
  position: absolute;
  top: 0;
  left: calc(50% + 555px);
  translate: -50% -5%;
  font-family: "Playfair", serif;
  font-size: 400px;
  opacity: 0.02;
}
.benefits__inner {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 53px;
  text-align: center;
}
.benefits__item-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
}

.apartments {
  position: relative;
}
.apartments::after {
  content: "III";
  position: absolute;
  top: 0;
  right: calc(50% + 555px);
  translate: 50% -13%;
  font-family: "Playfair", serif;
  font-size: 400px;
  opacity: 0.02;
}
.apartments__inner {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}
.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.cta {
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url("../../assets/images/background-cta.jpg"), #C4C4C4;
}
.cta__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 17px;
  padding-block: 180px;
}
.cta__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.cta__description {
  line-height: 1.5;
}
.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
.video {
  position: relative;
}
.video::after {
  content: "IV";
  position: absolute;
  top: 0;
  left: calc(50% + 555px);
  translate: -50% -13%;
  font-family: "Playfair", serif;
  font-size: 400px;
  opacity: 0.02;
}
.video__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__link {
  position: relative;
}
.video__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  transition-duration: 0.2s;
}
@media (hover: hover) {
  .video__link:hover::before {
    background: rgba(36, 43, 51, 0.6);
  }
  .video__link:hover .video__link-icon {
    scale: 1.2;
  }
}
.video__link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 100;
  transition-duration: 0.2s;
}

.map {
  position: relative;
  padding-block: 180px;
}
.map::after {
  content: "V";
  position: absolute;
  top: 0;
  right: calc(50% + 555px);
  translate: 50% 20%;
  font-family: "Playfair", serif;
  font-size: 400px;
  opacity: 0.02;
}
.map__inner {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}
.map__wrapper {
  height: 358px;
  background-color: #626262;
}

.feedback {
  padding-bottom: 180px;
}
.feedback__inner {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 51px;
  background: #2d343c;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.footer__menu-list {
  display: grid;
  row-gap: 15px;
  padding-top: 12px;
}
.footer__menu-item {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.footer__link-email {
  font-weight: 700;
  color: #d4c17f;
}

/*# sourceMappingURL=style.css.map */
